# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log
fti_logs.txt

# ==========================
# Database
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/
.cache/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temps